.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 10px 20px;
  border: 0;
  border-radius: 14px;
  overflow: hidden;
  background-color: var(--white);
  color: var(--dark-black);
  transition: color 0.3s;

  span {
    z-index: 900;
    transition: transform 0.2s;
    pointer-events: none;
  }

  &--icon {
    position: relative;
    padding: 10px;
    padding-left: 42px;

    &::before {
      position: absolute;
      left: 5px;
      z-index: 500;
      display: inline-block;
      width: 32px;
      height: 32px;
      border-radius: 14px;
      background-color: var(--dark-black);
      content: '';
    }

    &:hover,
    &:focus {
      background-color: var(--light-black);
      color: var(--white);
      transition: background-color 0s;
      transition-delay: 0.6s;

      span {
        transform: translateX(-20%);
        transition-delay: 0.5s;
      }

      &::before {
        animation-name: hover-animation;
        animation-duration: 1s;
        animation-fill-mode: forwards;
      }
    }
  }

  @media (hover: null) {
    cursor: pointer;
  }
}

@keyframes hover-animation {
  50% {
    background-color: var(--dark-black);
    transform: translateX(150%);
  }

  100% {
    background-color: var(--light-black);
    transform: translateX(150%) scale(10);
    transform-origin: 50% 50%;
  }
}
