.footer {
  padding: 100px 0;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 60% auto;
  grid-gap: 30px;

  @media screen and (max-width: $laptop) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: $tablet) {
    grid-template-columns: 1fr;
  }
}

.footer__links {
  padding-bottom: 35px;
}

.footer__text {
  margin-top: 20px;
  color: var(--gray);
}

.footer__lists {
  display: flex;
  align-items: baseline;
  gap: 55px;
}

.footer__list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__list-title {
  color: var(--gray);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__subscribe {
  align-items: center;
  padding: 35px 0;
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
}

.footer__form {
  position: relative;
  max-width: 100%;
}

.footer__subscribe-title {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer__submit {
  position: absolute;
  top: 50%;
  right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 11px;
  background-color: var(--dark-black);
  transform: translateY(-50%);
}

.footer__other {
  grid-template-columns: 60% auto;
  padding: 55px 0 100px;

  @media screen and (max-width: $tablet) {
    grid-template-columns: 1fr;
  }
}

.footer__copyright {
  color: var(--gray);
  font-size: 14px;

  @media screen and (max-width: $tablet) {
    text-align: center;
  }
}

.footer__socials {
  display: flex;
  justify-content: flex-end;
  gap: 20px;

  @media screen and (max-width: $tablet) {
    justify-content: center;
  }
}
