.footer {
  padding: 100px 0;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 60% auto;
  grid-gap: 30px;

  @media screen and (max-width: $laptop) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: $tablet) {
    grid-template-columns: 1fr;
  }
}

.footer__links {
  padding-bottom: 35px;
}

.footer__text {
  margin-top: 20px;
  color: var(--gray);
}

.footer__lists {
  display: flex;
  align-items: baseline;
  gap: 55px;
}

.footer__list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__list-title {
  color: var(--gray);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__subscribe {
  align-items: center;
  padding: 35px 0;
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
}

.footer__form {
  position: relative;
  max-width: 100%;
}

.footer__subscribe-title {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer__submit {
  position: absolute;
  top: 50%;
  right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 11px;
  background-color: var(--dark-black);
  transform: translateY(-50%);
}

.footer__other {
  grid-template-columns: 60% auto;
  padding: 55px 0 100px;

  @media screen and (max-width: $tablet) {
    grid-template-columns: 1fr;
  }
}

.footer__copyright {
  color: var(--gray);
  font-size: 14px;

  @media screen and (max-width: $tablet) {
    text-align: center;
  }
}

.footer__socials {
  display: flex;
  justify-content: flex-end;
  gap: 20px;

  @media screen and (max-width: $tablet) {
    justify-content: center;
  }
}

.footer__socials-item {
  position: relative;
  border-radius: 100%;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: flex;
    width: 0;
    height: 0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: '';
  }

  &:hover {
    fill: var(--white);

    &::after {
      width: 50px;
      height: 50px;
      transition: width 0.2s linear, height 0.2s linear;
    }

    &:nth-child(1)::after {
      background-color: #1d9bf0;
    }

    &:nth-child(2)::after {
      background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    }

    &:nth-child(3)::after {
      background-color: #0165e1;
    }
  }
}

.footer__socials-icon {
  fill: #c0c0c0;
}

.footer__socials-item:hover .footer__socials-icon {
  transition: fill 0.2s linear;
  fill: var(--white);
}

.footer__socials-link {
  display: inline-flex;
  align-items: center;
  height: 100%;
}
