.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  height: var(--header-height);
  padding: 30px 0;
  background-color: var(--light-black);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__logo {
  z-index: 1000;
  display: inline-flex;
  align-items: center;

  .camera-image {
    transform: translateY(-150%) scale(0);
    animation-name: camera-image-animation;
    animation-duration: 12s;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
  }

  .logo-image {
    animation-name: logo-image-animation;
    animation-duration: 12s;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    animation-iteration-count: infinite;
  }
}

.header__menu {
  position: relative;
  z-index: 1000;
  display: none;
  width: 25px;
  height: 25px;
  background-color: transparent;

  .line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    transition: transform 0.2s;

    &:nth-child(1) {
      top: 3px;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      bottom: 4px;
    }
  }

  @media screen and (max-width: $tablet) {
    display: block;

    &--active {
      justify-content: center;

      .line {
        &:nth-child(1) {
          top: 50%;
          transform: translateY(-50%);
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          display: none;
        }

        &:nth-child(3) {
          top: 50%;
          transform: translateY(-50%);
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.header__nav {
  @media screen and (max-width: $tablet) {
    display: none;

    &--active {
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      height: 100vh;
      background-color: var(--light-black);
      animation-name: menu-active;
      animation-duration: 0.8s;
      animation-fill-mode: forwards;
    }
  }
}

.header__list {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 100%;

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
  }
}

@keyframes menu-active {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}

@keyframes logo-image-animation {
  0% {
    transform: translateX(0);
  }

  5%,
  40% {
    transform: translateX(-15px);
  }

  45% {
    transform: translateX(0);
  }
}

@keyframes camera-image-animation {
  0% {
    transform: translateY(-150%) scale(0);
  }

  5% {
    transform: translateY(-2px) scale(1);
  }

  10% {
    transform: translateY(-2px) scale(1) rotate(45deg);
  }

  15% {
    transform: translateY(-2px) scale(1) rotate(-45deg);
  }

  20% {
    background: none;
    filter: none;
    transform: translateY(-2px) scale(1);
  }

  25%,
  30% {
    background:
      radial-gradient(
        closest-side circle at center, hsl(4 5% 100% / 1) 0%, hsl(4 5% 100% / 1) 15%, hsl(4 10% 70% / 0.7) 30%, hsl(4 0% 50% / 0.3) 55%, hsl(4 0% 10% / 0.05) 75%, transparent 99
      );
    filter: blur(15px);
    transform: translateY(-2px) scale(1);
  }

  35% {
    background: none;
    filter: none;
    transform: translateY(-2px) scale(1) rotate(0);
  }

  40% {
    transform: translateY(-200%) scale(0) rotate(360deg);
  }

  45% {
    transform: translateY(-200%) scale(0) rotate(360deg);
  }
}
