.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  height: var(--header-height);
  padding: 30px 0;
  background-color: var(--light-black);
}

.header__logo {
  display: inline-flex;
  align-items: center;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__nav {
  @media screen and (max-width: $tablet) {
    display: none;

    &--active {
      position: absolute;
      top: var(--header-height);
      display: block;
      width: 100%;
      height: 100vh;
      background-color: var(--light-black);
      animation-name: menu-active;
      animation-duration: 0.8s;
      animation-fill-mode: forwards;
    }
  }
}

.header__menu {
  position: relative;
  display: none;
  width: 25px;
  height: 25px;
  border: 0;
  background-color: transparent;

  span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    transition: transform 0.2s;

    &:nth-child(1) {
      top: 3px;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      bottom: 4px;
    }
  }

  @media screen and (max-width: $tablet) {
    display: block;

    &--active {
      justify-content: center;

      span {
        &:nth-child(1) {
          top: 50%;
          transform: translateY(-50%);
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          display: none;
        }

        &:nth-child(3) {
          top: 50%;
          transform: translateY(-50%);
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.header__list {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 100%;

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
  }
}

@keyframes menu-active {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}
