.info {
  position: absolute;
  right: 40px;
  bottom: 40px;

  @media screen and (max-width: $mobileL) {
    left: 50%;
    display: flex;
    justify-content: center;
    width: 100%;
    transform: translateX(-50%);
  }
}

.info__list {
  display: flex;
  gap: 15px;
}

.info__item {
  display: flex;
  gap: 3px;
}

.info__value {
  display: flex;
  align-items: flex-start;
  font-size: 12px;
  line-height: 12px;
}
