{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": ["airbnb"],
  "plugins": ["import", "prettier"],
  "rules": {
    "no-underscore-dangle": "off",
    "no-shadow": "off",

    "arrow-parens": "off",
    "object-curly-newline": "off",
    "no-mixed-operators": "off",
    "arrow-body-style": "off",
    "function-paren-newline": "off",
    "no-plusplus": "off",
    "space-before-function-paren": 0,
    "linebreak-style": "off",
    "comma-dangle": [
      "error",
      {
        "objects": "only-multiline",
        "arrays": "only-multiline",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ],

    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",

    "prefer-destructuring": "off",

    "prettier/prettier": ["error", {}, { "usePrettierrc": true }]
  }
}
