@mixin image($image-path) {
  background-image: url('#{$image-path}@1x.jpg');
  background-image:
    image-set(
      url('#{$image-path}@2x.avif') type('image/avif') 2x, url('#{$image-path}@1x.avif') type('image/avif') 1x, url('#{$image-path}@2x.webp') type('image/webp') 2x, url('#{$image-path}@1x.webp') type('image/webp') 1x, url('#{$image-path}@2x.jpg') 2x, url('#{$image-path}@1x.jpg') 1x
    );
  background-image:
    image-set(
      url('#{$image-path}@2x.avif') 2x, url('#{$image-path}@1x.avif') 1x, url('#{$image-path}@2x.webp') 2x, url('#{$image-path}@1x.webp') 1x, url('#{$image-path}@2x.jpg') 2x, url('#{$image-path}@1x.jpg') 1x
    );
}
