@mixin image($image-path) {
  background-image:
    image-set(
      url('#{$image-path}@2x.avif') 2x, url('#{$image-path}@1x.avif') 1x, url('#{$image-path}@2x.webp') 2x, url('#{$image-path}@1x.webp') 1x, url('#{$image-path}2x.jpg') 2x, url('#{$image-path}@1x.jpg') 1x
    );
}
