@import './components/header';

$e: green;

body {
  right: 15px;
  display: grid;
  grid-template-columns: auto;
  flex-direction: column;
  background: url('@img/abstract@1x.jpg') 0 0 no-repeat;
  color: $e;
  transform: rotate(0.5deg);

  &::after {
    transform: perspective(3deg);
  }
}

.hello.add {
  top: 12em;
}
