@import './imports';

body {
  padding-top: var(--header-height);
  background-color: var(--dark-black);
  color: var(--white);
  font-size: var(--main-font-size);
  line-height: 20px;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 15px;
  color: var(--white);
  font-size: 40px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;

  @media screen and (max-width: $tablet) {
    font-size: 26px;
  }
}

.subtitle {
  color: var(--gray);
  font-size: 23px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;

  @media screen and (max-width: $tablet) {
    font-size: 20px;
  }
}

.input-label {
  font-size: 0;
}

.input {
  width: 100%;
  padding: 12px 6px;
  border-radius: 11px;
  font-size: 14px;
}

.input__icon {
  fill: var(--white);
}

.intro {
  position: relative;
  display: flex;
  justify-content: center;
  height: calc(100vh - var(--header-height));
  background-image: url('@img/cost@1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include image('@img/cost');
}

.intro__container {
  position: absolute;
  bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__subtitle {
  color: var(--gray);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.intro__title {
  margin-bottom: 18px;
  font-size: 54px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;

  @media screen and (max-width: $tablet) {
    font-size: 40px;
  }
}

.intro__text {
  max-width: 580px;
  color: var(--gray);
  text-align: center;
}

.about {
  padding: 120px 0 100px;
}

.directions {
  display: grid;
  grid-template-columns: minmax(min-content, 600px) minmax(min-content, 600px);
  justify-content: center;
  grid-gap: 15px;
  margin-top: 40px;

  @media screen and (max-width: $tablet) {
    grid-template-columns: 1fr;
  }
}

.directions__item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 600px;
  padding: 30px;
  background-color: var(--gray);
  background-position: center;
  background-size: cover;

  &:nth-child(1) {
    @include image('@img/devices');
  }

  &:nth-child(2) {
    @include image('@img/abstract');
  }

  &:nth-child(3) {
    @include image('@img/wood');
  }

  &:nth-child(4) {
    @include image('@img/deer');
  }
}

.directions__item-title {
  margin-bottom: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.directions__item-description {
  margin-bottom: 20px;
  color: var(--gray);
}

.work {
  position: relative;
  height: 600px;
  background-color: var(--dark-black);
  background-position: center;
  background-size: cover;
}

.work__first {
  @include image('@img/mountain');
}

.work__second {
  @include image('@img/plant');
}

.work__third {
  @include image('@img/night');
}

.work__content {
  position: absolute;
  top: 50%;
  right: 60px;
  max-width: 300px;
  transform: translateY(-50%);

  @media screen and (max-width: $tablet) {
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}

.work__title {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.work__description {
  color: var(--gray);
}

.tools {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 540px;

  @media screen and (max-width: $tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 1080px;
  }
}

.tools__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.tools__subtitle {
  margin-bottom: 5px;
  color: var(--gray);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.tools__title {
  margin-bottom: 15px;
  font-size: 28px;
  line-height: 32px;
}

.tools__description {
  max-width: 515px;
  margin-bottom: 20px;
}

.tools__image {
  background-color: var(--dark-black);
  background-position: center;
  background-size: cover;

  @include image('@img/camera');
}

.clients {
  padding: 120px 0 140px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 80px;
}

.help {
  padding: 120px 0 105px;
}

.help__title {
  max-width: 600px;
}

.help__button {
  margin-top: 20px;
}
